<!doctype html>
<html>
    <head>
      <title>Welcome to Microblog</title>
    </head>
    <body>
        <div>Microblog: <a href="/index">Home</a></div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>
